* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Inter', sans-serif;
}




 /* <header> Header (navbar & hero section) - Alessandra </header> 

< "Popular professional services" & "A whole world of freelance" - Simran >

 < Explore the marketplace & Kay kim - Monika > 

 < "Fiverr guides" & ("Get inspired with projects made by our freelancers" or "fiverr logo maker") - Anna Sofia >

<footer> Footer & "Find the taletnt" - JAN </footer>  */